#calculator {
    width: 270px;
    display: block;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    color: black;
}

div {
    background-color: lightgray;
    padding: 5px;
}

.display {
    height: 50px;
    margin:auto;
    border-radius: 5px;
    background-color:white;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: right;
    border-width: 4px;
    font-size: 40px;
    font-family:sans-serif;   
    border-style: solid;
    border-color: darkgray; 
}

button {
    font-size: x-large;
    border-radius: 5px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    background-color: pink;
}

#zero {
    margin-left: 5px;
    float: left;
    width: 122px;
    background-color: lightblue;
}

#zero:hover {
    background-color: pink;
}

.digit {
    background-color: lightblue;
}

.operator {
    background-color: orange;
}
