li {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    background-color: darkorange;
    color: black;
}

div {
    background-color: lightgray;
    width: 300px;
    padding: 20px;
    margin: 3px;
    border-width: 6px;
    border-style: solid;
    border-color: darkgray;
}

.display {
    color:blue;
    font-size:28px;
    font-family:sans-serif;
    font-weight:bold;
    text-align: right;
}

.row {
    width: 400px;
    padding: 5px;
    margin: 1px;
    border-width: 0px;
    background-color: lightgray;
}

.digit {

}

.operator {

}

label {
    font-size: large;
    font-family: sans-serif;
    width: 125px;
    display: inline-block;
}


input {
    font-size: large;
}

button {
    font-size: x-large;
    background-color: lightblue;
}

input:focus {
    background-color: pink;
}

button:focus {
    background-color: pink;
}